<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Uganite skrito število</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="http://vignette4.wikia.nocookie.net/redeadplace/images/f/ff/Animated_favicon.gif/revision/latest?cb=20100906044751">
</head>
<body>
    <h1>Uganite skrito število!</h1>
    <p>Uganite skrito število. Število se skriva med 1 in 100.</p>
    
    <form method="post" action="/">
        <input name="vnos" placeholder="Skrito število"><br>
        <button type="submit">Ugibaj</button>
    </form>
    
    <div>
        <p>{{ b }}</p>
    </div>
    
</body>
</html>